@use '../../styles/colors' as *;

.regionPickerContainer {
  position: absolute;
  top: 10px;
  z-index: 1111111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  margin-left: 4rem;
  width: 18dvw;
  background-color: transparent;
}

.label {
  margin-right: 0.5rem;
  font-weight: 500;
  font-family: inherit;
}

.select {
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  border: 1px solid $color-muted;
  font-size: 1rem;
  font-family: inherit;
} 