@import '../../styles/colors';

.streetView {
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    aspect-ratio: 1/1;
    padding: 75px;
}

.guessMapContainer {
    width: 600px;
    height: 300px;
    position: fixed;
    bottom: 70px;
    right: 20px;
}

.distanceMessage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-bg, 0.3);
    pointer-events: none;
    top: 0;
    left: 0;
}

.centeredMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}